<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
<H4>
    Make sure the struct members inside the struct that wraps up datetime and value to pass to math functions are exported.
</H4>

Without date formatting: 2018-01-12 00:37:28.278056377 +0800 +08 m=+0.001123123
<br>

With date formatting: 12:37AM

<br>
Value in function: 10
<br>
Double: 20
<br>
Square: 100
<br>
Squareroot of square by piping functions (sqrt(10 ^ 2)): 10


</body>
</html>